body {
    background-color: #f5f6f8;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #000 !important;
}

.nav-link {
    color: #aaa !important;
    font-weight: 600;
}

.nav-link:hover,
.nav-link.active {
    color: #0d6efd !important;
}

/* HERO */
.page-hero {
    background: linear-gradient(to right, #0d6efd, #063b91);
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.page-hero h1 {
    font-size: 3rem;
    font-weight: 800;
}

.page-hero p {
    font-size: 1.2rem;
}

/* SECTION */
.page-section {
    padding: 50px 0;
}

/* FORM */
.card {
    border: none;
    border-radius: 10px;
}

.form-control,
.form-select {
    border-radius: 8px;
    padding: 10px;
}

/* BUTTONS */
.btn-primary {
    background: #0d6efd;
    border: none;
    font-weight: 700;
}

.btn-secondary {
    font-weight: 700;
}

/* TABLE */
th {
    background: #000 !important;
    color: white !important;
}

/* JSON BOX */
#jsonOutput {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
}