body {
    background-color: #f5f5f5;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #0d47a1, #1976d2);
    padding: 80px 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

/* BREAKING */
.breaking-news {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.breaking-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* CARDS */
.news-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.news-card img {
    height: 200px;
    object-fit: cover;
}

.news-card:hover {
    transform: scale(1.03);
}